.App {
  text-align: center;
}
#btn {
  background-color: white;
  padding: 15px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 40px;
}
#btn:hover {
  background-color: #ccc;
  border: 1px solid black;
}